* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}
body {
background-color: #ffffff;

}
header nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
background: white;
}
nav .menu {
margin-right: 25px;
text-decoration: none;
color: black;
font-weight: 500;
display: flex;
gap: 50px; list-style:none;
}
.logo {
font-size: 24px;
font-weight: bold;
}

.hero {
height: 90vh;
background-image: url(images/hero-bg.png);
display: flex;
align-items: center;
padding: 0 80px;
margin: 0 auto;
}
.hero-content {
text-align: center;
max-width: 600px;
color: white;
margin: 0 auto;
justify-content: center;
align-items: center;
}
.hero h1 {
font-size: 48px;
margin-bottom: 20px;
}
.hero h1 span {
color: #4caf50;
}
. hero p {
font-size: 18px;
margin-bottom: 30px;
}
.btn {
padding: 12px 22px ;
border-radius: 6px;
border: none;
cursor: pointer;
font-weight: 600;

}
.first-btn {
    background: #4caf50;
    color: white;
    margin-right: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}
.second-btn {
color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 5px;
    margin: auto;
    cursor: pointer;
}
.problems {

    padding: 80px;
    text-align: center;
}
.problems p {
color: darkgray;


}
.cards {
display: flex;
justify-content: space-between;
margin-top: 40px;

}
.card {
width: 22%;
padding: 30px;
background: #e7cbcb;
border-radius: 10px;
font-weight: bold;
justify-content: center;
align-items: center;
}
.card p {
text-align: center;
font-weight: 50;
padding-top: 10px;
color: darkgrey;
justify-content: center;
align-items: center;
margin: 0 auto;
display: flex;
}

.solution {
padding-top: 20PX;
padding-left: 50px;
display: flex;

}

.solution-content  {
margin-top: 5px;
padding: 80px 300px;
justify-content: space-between;
}
.solution-content span {
color:#30b868;

}
.solution-content h2 {
margin: 0 auto;
padding-top: 10px;
font-weight: bold;

}
.solution-content p{
    padding-top: 10px;
}
.checklist {
list-style: none;
padding-top: 10px;
}
.last {
text-align: center;
padding: 10px 10px;
margin-top: 10px;
background-color: bisque;
}
.footer {
background: #0b1c2d;
color:white;
text-align: center;
padding: 30PX;
display: flex;
justify-content: space-between;
}
.footer-content a {
padding-top: 10px;
justify-content: space-between;
}
#bottom {

}
.circle {
background-color:#f95555 ;
border-radius:50%;
height:50px;
width: 50px;
display: flex;
justify-content: center;
align-items: center;
padding:7px 9px ;
margin: 0 auto;

}
#last-content p{
padding: 1em;
color: darkgrey;
}
#last-content p {
    padding-top: 20px;
}